<div>
    <mat-card class="my-2" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Product Entry</mat-card-title>
        </mat-card-header>
        <mat-card-content class="my-2">
            <div [formGroup]="productForm">
                <div class="container">
                    <!-- name & code -->
                    <div class="h6">Product Identification </div>
                    <div class ="row gx-3">
                        <div class="col-4">
                            <mat-form-field class="w-100">
                                <mat-label>SKU</mat-label>
                                <input 
                                    matInput 
                                    required
                                    type="text" 
                                    formControlName="sku">
                                <mat-error *ngIf="getFormError('sku','required')">SKU number is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-8">
                            <mat-form-field class="w-100">
                                    <mat-label>Product Name</mat-label>
                                    <input 
                                        matInput 
                                        required
                                        type="text" 
                                        formControlName="productName">
                                    <mat-error *ngIf="getFormError('productName','required')">Product name is required</mat-error>                            
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="h6">Prices & Condition</div>
                    <!-- price & condition -->
                    <div class ="row gx-3">
                        <div class="col-10">
                            <mat-form-field class="w-100" floatLabel="always">
                                    <mat-label>Price</mat-label>
                                    <input 
                                        matInput
                                        required 
                                        type="number" 
                                        class="example-right-align" 
                                        style="text-align: right;"
                                        placeholder="0" 
                                        formControlName="price"/>
                                    <span matTextPrefix>$&nbsp;</span>
                                    <!-- <span matTextSuffix>.00</span> -->
                                    <mat-error *ngIf="getFormError('price','required')">Item price is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field class="w-100">
                                    <mat-label>Condition</mat-label>
                                    <mat-select 
                                        required
                                        formControlName="condition">
                                        <mat-option value="New">New</mat-option>
                                        <mat-option value="Excellent">Excellent</mat-option>
                                        <mat-option value="Good">Good</mat-option>
                                        <mat-option value="Fair">Fair</mat-option>
                                        <mat-option value="Poor">Poor</mat-option>
                                        <mat-option value="Inoperable">Inoperable</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="getFormError('condition','required')">Item condition is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="h6">Other Details</div>
                    <!-- etc -->
                    <div class ="row gx-3">
                        <div class="col-4">
                            <mat-form-field class="w-100">
                                    <mat-label>Brand</mat-label>
                                    <input matInput type="text" formControlName="cname">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="w-100">
                                    <mat-label>Mount Type</mat-label>
                                    <input matInput type="text" formControlName="mountType">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="w-100">
                                    <mat-label>Category</mat-label>
                                    <mat-select 
                                        required
                                        formControlName="category">
                                        <mat-option value="camera">Camera</mat-option>
                                        <mat-option value="lense">Lense</mat-option>
                                        <mat-option value="accessories">Accessories</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="getFormError('condition','required')">Item condition is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- description -->
                    <div class ="row gx-3">
                        <div class="col-12">
                            <mat-form-field class="w-100">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput type="text" formControlName="description">{{productForm.value.description}}</textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="h6">Resources</div>
                    <!-- image  --> 
                    <div class ="row gx-3">
                        <div class="col-12">
                            <div class="resourcePannel">
                                <div class="imgContainer mx-1" *ngFor="let img of resourcesList; index as i;">
                                    <img (click)="onDeleteImgRequest(i)" src="{{resourceBaseUrl}}{{img}}" alt="alt" width="100">
                                </div>
                            </div>    
                            <app-img-upload
                                [thumbnailsUrl]="productForm.value.resources"
                                (onUploadCompleteEvent)="onUploadComplete($event)"
                            ></app-img-upload>
                        </div> 
                    </div>  
                </div>
            </div>

            <div>
                <div class="h6">Search Info</div>
                <!-- tags control -->
                <p>Tags:</p> 
                <div class="my-2">
                    <span *ngFor="let tag of tags">
                        <button mat-stroked-button (click)="deleteTag(tag)">{{tag}}</button>
                    </span>
                </div>
                <mat-form-field>
                    <mat-label>Tag</mat-label>
                    <input matInput type="text" [(ngModel)]="inputTag">
                    <mat-error>Tag Existed</mat-error>
                </mat-form-field>  
                <button 
                    mat-stroked-button
                    (click)="onAddTag(inputTag)"
                    >
                    <mat-icon fontIcon="add"></mat-icon> Add
                </button>     
            </div>

            <div>
                <button mat-stroked-button (click)="onSubmit()">Submit</button>
            </div>
        </mat-card-content>

    </mat-card>

</div>
