
.terminal-view{
//  background-color: coral;
//  padding-left:5vw;
//  padding-right:5vw;
//  height: 150px!important;
 width: 100vw!important;
 position:fixed;
 bottom:0;
 z-index: 9999;
}

.expand-body{
    background: black!important;
    color:white;
}
